*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

button{
    
    font-size: 1em;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,0.5);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    color: white;
    background-color: 	blue;
}

header .logo{
    margin: 0;
    padding: 30px 10px;
    font-weight: bold;
    color: blue;
    font-size: 2em;
    text-align: left;
    flex-wrap: wrap ;
    transform: translateX(150px);
}

header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}

header a{
    padding: 5px 20px;
    text-decoration: none;
    font-weight: bold;
    color: #99A3A4;
    transform: translateY(25px);
}

header a:hover{
    color: black;
}

@media (min-width: 720px){

    header{
        width: 89%;
    }

    header .container{
        flex-direction: row;
        justify-content: space-between;
    }
}

header nav{
    flex-direction: row;
    padding-bottom: 0;
    padding-right: 15px;
}

.rectangulo{
    padding-top: 20px;
}

.rectangulo a{
    padding: 0px 26px;
    
}




/* Seccion Fight */
h1{
    color: #000080;
    font-size: 3em;
    margin-top: 0px;
} 

table{
    color: #000080;
    font-size: 0.8em;
}

p{
    color: #99A3A4;
    font-weight: bold;
}

.img-container{
    background-image: url("Imagenes/vacuna.jpg");
    background-size: cover;
    background-position: center center;
    height: 600px;
    width: 500px;
    margin-top: 50px;
    z-index: 1;
}

.rectangulo{
    background-color: rgba(81,209,246,0.1);
    height: 80px;
}


#Fight-virus{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: left;
    flex-direction: row;
    height: 90vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    
}

.fecha-cita{
    width: 650px;
    height: 100px;
    transform: translate(-500px);
    transform: matrix(1,0,0,1,-500,460);
    display: flex;
    flex-direction: row;
}

.fecha-cita legend{
    color: #000080;
    font-size: 1.5em;
    overflow: hidden;
}

.fecha-cita label{
    color: #99A3A4;
    font-size: 0.8em;
}

fieldset{
    margin: 0 auto;
    width: 500px;
    padding: 2px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    background-color: rgba(255,255,255,0.9);
    align-items: center;
    border: 0px;
}

input{
    height: 20px;
    width: 180px;
    background-color: rgba(255,255,255,0);
    color: #000080;
    font-size: 0.9em;
    align-items: center;
    border: 0px;
    justify-content: space-evenly;
}

.img-container button{
    font-size: 1em;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,0.5);
    box-shadow: 2px 2px 10px rgba(81,209,246,0.1);
    color: white;
    background-color: 	blue;
    height: 40px;
}


/* Seccion Marcas Vacunas */

.AstraZeneca{
    background-image: url(" ");
    background-size: cover;
    background-position: center center;
    height: 400px;
    width: 100%;
}


/* Should-vaccine */
.should-vaccine{
    transform: translateX(150px);
}

.should-vaccine h1{
    font-size: 2em;
}

.container1{
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
    padding: 0px 20px;
}
.minimize{
    transform: translateX(50px);
}

.forming{
    transform: translateX(20px);
}

.protecting{
    transform: translateX(-20px);
}

.creating{
    transform: translateX(-50px);
}

.container1 .minimize:hover{
    transform: translateY(-15px);
}

.container1 .forming:hover{
    transform: translateY(-15px);
}

.container1 .protecting:hover{
    transform: translateY(-15px);
}

.container1 .creating:hover{
    transform: translateY(-15px);
}

h3{
    color: #000080;
    font-size: 1em;
    margin-top: 0px;
}

#preparations{
    text-align: right;
    margin-top: 100px;

}

#preparations p{
    text-align: left;
    transform: translateX(680px);
}

#preparations h1{
    font-size: 2em;
    transform: translateX(-225px);
}

/* prep */
.container2{
    display: flex;
    margin-top: 100px;
}

#prep{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: left;
    flex-direction: row;
    height: 90vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; 
}

.general{
    margin-top: 50px;
    align-items: center;
    justify-content: center;
    text-align: left;
}


#prep .img-container{
    background-image: url("Imagenes/happy.jpg");
    background-size: cover;
    background-position: center center;
    height: 600px;
    width: 500px;
    margin-top: 50px;
    transform: translateY(-200px);
}

.alcoholic{
    padding-left: 10px;
}

.stress{
    padding-top: 18px;
    padding-left: 10px;
}

.eat{
    padding-top: 18px;
    padding-left: 10px;
}

.get{
    padding-top: 18px;
    padding-left: 10px;
}

.exercise{
    padding-top: 18px;
    padding-left: 10px;
}

fieldset h3{
    padding-top: 10px;
}

/* Energency */

.gral{
    display: flex;
    margin-top: 100px;
}

#Emergency{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: left;
    flex-direction: row;
    height: 90vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; 
}


#Emergency .img-container{
    background-image: url("Imagenes/cubre-boca.jpg");
    background-size: cover;
    background-position: center center;
    height: 600px;
    width: 500px;
    margin-top: 50px;
}

.box fieldset{
    width: 50px;
}

h2{
    color: #000080;
}

#Emergency fieldset{
    padding-top: 40px;
    padding-left:10px;
    width: 220px;
    height: 200px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.3em;
}

#Emergency .img-container{
    transform: translateX(30px);
}

/* final */

#final .container{
    background-color: rgba(81,209,246,0.1);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: left;
    flex-direction: row;
    height: 50vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin-top: 200px;
}

li{
    color: #99A3A4;
    font-weight: bold;
}